<% include partials/header %>
<br />
<h5 class="container-fluid">This is a tool designed for Dungeons & Dragons 5e. I made it to ease the burden of a DM having to decide between "Do I spend 20 minutes hand-crafting a shop that the players will only spend 2 minutes at?" or telling the players "This is a humble town blacksmith, who somehow has literally everything in the PHB, because I don't want to deal with it."</h5>
<br />
<h5 class="container-fluid">I made a database of every SRD 5e item combo that could possibly exist (All by the books. No Homebrew), so there's a scroll of every spell and even Mariner's Plate Armor if your 8 INT Fighter thinks her Athletics is high enough to swim fully-armored</h5>
<br />
<h5 class="container-fluid">You'll notice many items have a weight of zero pounds or a cost of "DM's Choice". This is because many of the more valuable items in 5e have no official data for that, and it's intended for the DM to make the call for their own campaign's balance.</h5>
<br />
<h5 class="container-fluid">If you haven't played an MMORPG before, the rarity color system is like this:</h5>
<br />
<div class="row m-auto" style="background-color: rgba(255, 255, 255, 0.692)">
    <p class="col">Common</p>
    <p class="col" style="color:green">Uncommon</p>
    <p class="col" style="color:blue">Rare</p>
    <p class="col" style="color:purple">Very Rare</p>
    <p class="col" style="color:orange">Legendary</p>
    <p class="col" style="color:red">Artifact</p>
</div>
<br />
<h5 class="container-fluid">And lastly, I apologize for this basic website layout. Graphic design is my passion.</h5>


<% include partials/footer %>