<% include partials/header %>
<br />
<h5 class="container-fluid">The request is made via an HTTP GET request to a Lambda function, and is returned in the form of a JSON object.</h5>
<br />
<h5 class="container-fluid">Queries must be requested as such: ?Type=GeneralMerchant&Size=Stall&Wealth=Modest</h5>
<br />
<h5 class="container-fluid">Function Link: https://6sracewg2m.execute-api.us-east-1.amazonaws.com/ListGet</h5>
<% include partials/footer %>