<% include partials/header %>

    
    <div class="row" id="MainRow">
        <div id="InputCol"class="col-sm-4">
            <div class="row InputRow">
                <select class="InputSelect custom-select custom-select-lg mb-3">
                    <option selected>Type</option>
                    <option value="1">General Merchant</option>
                    <option value="2">Magical Scholar</option>
                    <option value="3">Blacksmith</option>
                  </select>
            </div>
            <div class="row InputRow">
                <select class="InputSelect custom-select custom-select-lg mb-3">
                    <option selected>Size</option>
                    <option value="1">Traveller</option>
                    <option value="2">Stall</option>
                    <option value="3">Wagon</option>
                    <option value="4">Store</option>
                    <option value="5">Warehouse</option>
                  </select>
            </div>
            <div class="row InputRow">
                <select class="InputSelect custom-select custom-select-lg mb-3">
                    <option selected>Wealth</option>
                    <option value="1">Poor</option>
                    <option value="2">Modest</option>
                    <option value="3">Wealthy</option>
                    <option value="4">Extravagant</option>
                  </select>
            </div>
            <div class="InputButton row justify-content-center">
                <button type="button" class="btn RollButton">Roll</button>
            </div>
        </div>
        <div id="OutputCol" class="col-sm-8">
            <div id="OutputBox">
                Bacon ipsum dolor amet biltong cupim spare ribs chislic buffalo ham hock, porchetta rump. Pork loin jerky shankle prosciutto. Doner burgdoggen pork loin tail salami shoulder pork belly landjaeger buffalo t-bone bacon shankle chislic frankfurter ball tip. Meatloaf alcatra chislic fatback. Landjaeger chuck shank pork chop meatball tri-tip kevin turducken, t-bone sirloin pastrami drumstick bacon fatback.

                Spare ribs bresaola beef ribs buffalo rump. Frankfurter ham hock ground round sirloin rump boudin fatback turkey. Andouille cow beef ribs jowl pork, pancetta shank sausage frankfurter landjaeger spare ribs. Meatball flank andouille filet mignon short ribs sirloin.
                
                Rump alcatra drumstick t-bone kevin. Pork belly short ribs hamburger pig t-bone filet mignon. Capicola flank cupim cow bacon sirloin. Ham venison rump, alcatra corned beef beef shank swine. Chicken beef ribs drumstick pancetta. Pig swine pancetta bresaola porchetta. Chuck biltong cupim, hamburger picanha tri-tip short ribs buffalo meatloaf kevin ball tip pastrami tongue turducken shoulder.
                
                Sausage jerky capicola swine, pork loin ham hock beef biltong tongue meatloaf doner buffalo. Jerky chicken tri-tip beef ribs pancetta, kielbasa turducken. Bresaola venison ribeye buffalo boudin, kielbasa landjaeger hamburger. Hamburger meatball venison turkey strip steak pork loin turducken tail buffalo shank tri-tip swine. Ball tip strip steak boudin shoulder jerky.
                
                Leberkas shank bacon turkey, rump cow ham hock prosciutto frankfurter boudin chislic ball tip sirloin. Andouille flank pork, cupim chislic cow turducken landjaeger corned beef fatback beef bacon t-bone short ribs shoulder. Shoulder tail cow, filet mignon biltong turducken t-bone beef shankle burgdoggen prosciutto kevin fatback meatloaf leberkas. Cupim kielbasa short ribs jowl, frankfurter ball tip ribeye capicola. Strip steak burgdoggen short ribs jerky alcatra chislic pork chop. Leberkas kielbasa bacon andouille. Leberkas ribeye salami flank, alcatra shank boudin pork belly tail ball tip swine cupim tongue pancetta shankle.
                
                Prosciutto picanha tail filet mignon shoulder strip steak turkey pancetta brisket kevin bacon jowl. Frankfurter tri-tip cow porchetta, kielbasa bresaola shank. Turkey cupim frankfurter pork chop ham ground round chicken bresaola meatloaf picanha kevin. Buffalo sirloin rump bresaola chuck ham hock capicola drumstick meatball prosciutto short loin turkey t-bone beef burgdoggen.
                
                Ribeye shank tri-tip fatback, beef pork chop turducken landjaeger ball tip ham t-bone hamburger shoulder. Kielbasa tri-tip doner, hamburger bresaola porchetta brisket turkey. Venison spare ribs landjaeger, filet mignon doner pork belly capicola. Shoulder jowl landjaeger swine tri-tip ball tip.
                
                Jerky beef cow fatback burgdoggen rump. Short loin frankfurter turducken, chicken jerky pork loin tenderloin pork chop kevin. Short loin salami corned beef chuck, ham hock pork chop ham buffalo. Tenderloin jowl short loin andouille bresaola frankfurter strip steak pork belly salami rump pork chop kevin corned beef. Chislic leberkas pig chuck bacon. Alcatra kevin tongue drumstick short loin turducken short ribs meatloaf.
                
                Tri-tip filet mignon ribeye shoulder short loin porchetta swine. Chuck beef cupim salami. Venison bresaola ham chicken shank jerky jowl tenderloin pork belly. Ground round beef ribs ball tip chislic ham bacon tenderloin boudin alcatra bresaola pork loin jerky turducken pork chop.
                
                Tri-tip shank chuck beef chislic ribeye sausage. Salami corned beef porchetta doner beef fatback. Tail turducken venison, pig kevin capicola tenderloin pork belly cupim turkey ribeye pork chuck meatball. Pancetta biltong landjaeger short loin turducken filet mignon, andouille leberkas flank burgdoggen chuck ball tip meatloaf. Bacon shankle chicken drumstick sausage, chuck turducken fatback. Chuck flank pig picanha pancetta chicken alcatra andouille landjaeger brisket prosciutto frankfurter bresaola. Alcatra beef pork belly buffalo t-bone sirloin brisket.
            </div>
        </div>
    </div>

<% include partials/footer %>